package components


templ Home(isLoggedIn bool, gradeCounts map[string]int, toppedCounts map[string]int, showCongrats bool, lastAttemptDifficulty int) {
	if isLoggedIn {
		@LogSummary(gradeCounts, toppedCounts, showCongrats, lastAttemptDifficulty)
	} else {
		@HomeContent()
	}
}