package components

templ Home() {
	@Layout("Home") {
		<h2 class="text-4xl font-bold text-center mb-4">Elevate Your Climbing Game</h2>
		<p class="text-xl text-center mb-8">Track, Analyze, Conquer!</p>
		<div class="text-center">
			<a href="/login" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
				Get Started
			</a>
		</div>
	}
}