package components


templ Home(isLoggedIn bool, showCongrats bool, lastAttemptDifficulty int, grades []string, datasets map[string][]int) {
	if isLoggedIn {
		@LogSummary(showCongrats, lastAttemptDifficulty, grades, datasets)
	} else {
		@HomeContent()
	}
}